<div class="container-with-navbar">
  <div class="container-one-third">
    <div class="my-cards">
      <% @works.each do |work| %>
        <div class="my-card">
          <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
          <div class="my-card-details">
            <p><%= work.name %></p>
            <p><%= work.year %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="show">

      <!-- by default show last work -->
      <div class="show-card">
        <% if @work.category == "Kinetics" %>
        <div class="video">
          <%= youtube_video @work.youtube_link %>
        </div>
        <% else %>
          <%= instance_image_tag @work.photo, height: 350, width: 350, crop: :fill, class: "show-card-image" %>
        <% end %>

        <div class="work-description">
          <p>
            <%= t("index.name") %> :
            <%= @work.name %>
          </p>
          <p>
            <%= @work.year %>
          </p>

          <p><%= @work.dimensions %></p>
          <p><%= @work.description %></p>
        </div>
      </div>

      <!-- if click show the work details -->


    </div>
  </div>
</div>
