
<div class="container plus-navbar">
  <div class="my-cards">
<!--     <%= image_tag "film.gif" %> -->
    <% @works.each do |work| %>
      <div class="my-card">
        <% if work.category == "Kinetics" %>
        <div class="">

          <%#= youtube_video work.image "https://www.youtube.com/watch?v=9PhhMhKAF2o" %>
          <%= link_to "https://www.youtube.com/watch?v=#{work.youtube_link}", target: "_blank" do %>
            <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
          <% end %>
          <!-- <p>videoooo</p> -->
        </div>
        <% else %>
          <!-- <div class=""> -->
          <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
          <!-- </div> -->
        <% end %>
        <div class="my-card-details">
          <p>
            <%= work.name %><% unless work.year == "" || work.year.nil? || work.year == "."  %> - <%= work.year %> <% end %>
            <% unless work.description == "" || work.description.nil? || work.description == "." %><br><%= work.description %><% end %>
            <br>
            <%= work.collection %> <% unless work.dimensions == "" || work.dimensions.nil? || work.dimensions == "." %> - <%= work.dimensions %> <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
