<div class="container-with-navbar">
  <div class="container-one-third">
    <div class="my-cards">
      <% @works.each do |work| %>
        <div class="my-card">
          <% if work.category == "Kinetics" %>
          <div class="">
            <%#= youtube_video work.image "https://www.youtube.com/watch?v=9PhhMhKAF2o" %>
            <%= link_to "https://www.youtube.com/watch?v=#{work.youtube_link}", target: "_blank" do %>
              <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
            <% end %>
          </div>
          <% else %>
            <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
          <% end %>
          <div class="my-card-details">
            <p>
              <%= work.name %><% unless work.year == "" || work.year.nil? || work.year == "."  %> - <%= work.year %> <% end %>
              <% unless work.description == "" || work.description.nil? || work.description == "." %><br><%= work.description %><% end %>
              <br>
              <%= work.collection %> <% unless work.dimensions == "" || work.dimensions.nil? || work.dimensions == "." %> - <%= work.dimensions %> <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="show">

    </div>
  </div>
</div>
