<div class="container-with-navbar">
  <div class="wrapper">
    <div class="my-cards">
      <% @works.each do |work| %>
        <%#= simple_form_for work do |f| %>
          <div class="my-card" data-work-id="<%= work.id %>">
            <%= instance_image_tag work.photo, height: 150, width: 150, crop: :fill, class: "my-card-image" %>
            <div class="my-card-details">
              <p><%= work.name %></p>
              <p><%= work.year %></p>
            </div>
          </div>
          <%#= f.submit "" %>
        <%# end %>
      <% end %>
    </div>

    <div class="one-work-card">
      <div class="work-card">
        <% if @work.category == "Kinetics" %>
          <div class="video">
            <%= youtube_video @work.youtube_link, @height, @width %>
          </div>
        <% else %>
          <%= instance_image_tag @work.photo, height: 350, width: 350, crop: :fill, class: "work-card-image" %>
        <% end %>
        <div class="work-description">
          <p><%= t("index.name") %> : <%= @work.name %></p>
          <p><%= @work.year %></p>
          <p><%= @work.dimensions %></p>
          <p><%= @work.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
