<div class="container-for-work">
  <div class="wrapper align-items-center">
    <%= render_previous_work(@works_hash, @work) %>

    <div class="one-work-card">
      <div class="work-card">
        <% if @work.display_option == "Image" || @work.display_option == "Vimeo" && @work.video_key.nil? || @work.video_key == "" %>
          <%= instance_image_tag @work.photo, crop: :fill, class: "work-card-image" %>
        <% else %>
          <div class="work-card-video">
            <%= vimeo_video @work.video_key %>
          </div>
        <% end %>
        <div class="work-description">
          <div class="name-year">
            <p><%= @work.name %></p>
            <p><%= @work.year %></p>
          </div>
          <p><%= @work.dimensions %></p>
          <p><%= @work.description %></p>
        </div>
      </div>
    </div>

    <%= render_next_work(@works_hash, @work) %>

  </div>
  <%= link_to works_path(locale: I18n.locale, collection: @work.collection), class: "link-black position-right" do %>
    <%= image_tag "cancel.png", alt: "Icon made by Freepik", class: "cross" %>

  <% end %>
</div>
