<div class="container-for-work">
  <div class="wrapper align-items-center">
    <%= link_to work_path(locale: I18n.locale, id: @previous_work.id), class: "m-3 link-black" do %>
      <h3><i class="fas fa-long-arrow-alt-left"></i></h3>
    <% end %>

    <div class="one-work-card">
      <div class="work-card">
        <% if @work.display_option == "Image" || @work.display_option == "Vimeo" && @work.video_key.nil? %>
          <%= instance_image_tag @work.photo, crop: :fill, class: "work-card-image" %>
        <% else %>

          <div class="work-card-video">
            <%= vimeo_video @work.video_key %>
          </div>
        <% end %>
        <div class="work-description">
          <div class="name-year">
            <p><%= @work.name %></p>
            <p><%= @work.year %></p>
          </div>
          <p><%= @work.dimensions %></p>
          <p><%= @work.description %></p>
        </div>
      </div>
    </div>

    <%= link_to work_path(locale: I18n.locale, id: @next_work.id), class: "m-3 link-black" do %>
      <h3><i class="fas fa-long-arrow-alt-right"></i></h3>
    <% end %>

  </div>
</div>
