<div class="container-with-navbar">
  <div class="wrapper">
    <div class="one-work-card">
      <div class="work-card">
        <% if @work.category == "Kinetics" %>
          <div class="video">
            <%= youtube_video @work.youtube_link, @height, @width %>
          </div>
        <% else %>
          <%= instance_image_tag @work.photo, crop: :fill, class: "work-card-image" %>
        <% end %>
        <div class="work-description">
          <div class="name-year">
            <p><%= @work.name %></p>
            <p><%= @work.year %></p>
          </div>
          <p><%= @work.dimensions %></p>
          <p><%= @work.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
