<div class="margin-menu text-center">
  <div class="nav-menu">
    <%= link_to t("navbar.kinetic").upcase, works_path(locale: I18n.locale, collection: "Kinetic"), class: "nav-item" %>
    <%= link_to t("navbar.neon").upcase, works_path(locale: I18n.locale, collection: "Neon"), class: "nav-item" %>
    <%= link_to t('navbar.sculptur').upcase, works_path(locale: I18n.locale, collection: "Sculptur"), class: "nav-item" %>
    <%= link_to t('navbar.drawing').upcase, works_path(locale: I18n.locale, collection: "Drawing"), class: "nav-item" %>
    <%= link_to t('navbar.photo').upcase, works_path(locale: I18n.locale, collection: "Photo"), class: "nav-item" %>
    <%= link_to t('navbar.animation').upcase, works_path(locale: I18n.locale, collection: "Animation"), class: "nav-item" %>
    <%= link_to t('navbar.video').upcase, works_path(locale: I18n.locale, collection: "Video"), class: "nav-item" %>
     -
    <%= link_to t('navbar.films').upcase, films_path(locale: I18n.locale), class: "nav-item" %>
    <%= link_to t('navbar.texts').upcase, text_path(locale: I18n.locale, id: @text), class: "nav-item" %>
    <%= link_to t('navbar.about').upcase, about_path(locale: I18n.locale), class: "nav-item" %>
    <%= link_to t('navbar.home').upcase, root_path(locale: I18n.locale), class: "nav-item" %>
  </div>
</div>
