<div class="container-fluid">
  <div class="navbar-rv">
    <div class="navbar-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 50 %>
      <% end %>
    </div>
    <% if request.path.match(/works/) %>
      <div class="navbar-categories">
        <div class="navbar-item">
          <%= link_to t("navbar.kinetic"), 'works?collection=Kinetic'%>
        </div>
        <div class="navbar-item">
          <%= link_to t('navbar.sculptur'), 'works?collection=Sculptur'%>
        </div>
        <div class="navbar-item">
          <%= link_to t('navbar.drawing'), 'works?collection=Drawing'%>
        </div>
        <div class="navbar-item">
          <%= link_to t('navbar.photo'), 'works?collection=Photo'%>
        </div>
        <div class="navbar-item">
          <%= link_to t('navbar.animation'), 'works?collection=Animation'%>
        </div>
        <div class="navbar-item">
          <%= link_to t('navbar.video'), 'works?collection=Video'%>
        </div>
      </div>
    <% else %>
      <div class="navbar-categories">
        <div class="navbar-item">
          <%= link_to t('contact.titles.contact') , contact_path  %>
        </div>
        <div class="navbar-item">
          <%= link_to t('contact.titles.bio') , contact_path  %>
        </div>
        <div class="navbar-item">
          <%= link_to t('contact.titles.texts'), contact_path %>
        </div>
      </div>
    <% end %>
    <div class="navbar-about">
      <div class="navbar-item">
        <%= link_to t('navbar.work'), 'works?collection=Kinetic'%>
      </div>
      <div class="navbar-item">
        <%= link_to t('navbar.contact'), contact_path %>
      </div>
      <div class="navbar-item">
        <% if I18n.locale == :fr %>
          <%= link_to "🇬🇧", { :locale=>'en' } %>
        <% else %>
          <%= link_to "🇫🇷", { :locale=>'fr' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- -----------------Mobile version----------------- -->
<div class="background-mobile">
</div>
<div class="mobile-menu-rv">
  <div class="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="mobile-about">
    <div class="mobile-item">
      <%= link_to t('navbar.work'), 'works?collection=Kinetic'%>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.contact'), contact_path %>
    </div>
    <div class="mobile-item">
      <% if I18n.locale == :fr %>
        <%= link_to "🇬🇧", { :locale=>'en' } %>
      <% else %>
        <%= link_to "🇫🇷", { :locale=>'fr' } %>
      <% end %>
    </div>
  </div>
</div>
