<div class="container-fluid">
  <div class="navbar-rv">
    <div class="navbar-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 50 %>
      <% end %>
    </div>
    <% if request.path.match(/works/) %>
      <div class="navbar-categories">
        <%= link_to t("navbar.kinetic").upcase, works_path(locale: I18n.locale, collection: "Kinetic"), class: "navbar-item #{'active' if params[:collection] == 'Kinetic'}" %>
        <%= link_to t('navbar.sculptur').upcase, works_path(locale: I18n.locale, collection: "Sculptur"), class: "navbar-item #{'active' if params[:collection] == 'Sculptur'}" %>
        <%= link_to t('navbar.drawing').upcase, works_path(locale: I18n.locale, collection: "Drawing"), class: "navbar-item #{'active' if params[:collection] == 'Drawing'}" %>
        <%= link_to t('navbar.photo').upcase, works_path(locale: I18n.locale, collection: "Photo"), class: "navbar-item #{'active' if params[:collection] == 'Photo'}" %>
        <%= link_to t('navbar.animation').upcase, works_path(locale: I18n.locale, collection: "Animation"), class: "navbar-item #{'active' if params[:collection] == 'Animation'}" %>
        <%= link_to t('navbar.video').upcase, works_path(locale: I18n.locale, collection: "Video"), class: "navbar-item #{'active' if params[:collection] == 'Video'}" %>
      </div>
    <% else %>
      <div class="navbar-categories">
        <h2>ROGER VILDER</h2>
      </div>
    <% end %>
    <div class="navbar-about">
      <div>
        <%= link_to t('navbar.work').upcase, 'works?collection=Kinetic', class: "navbar-item #{'active' if params[:controller] == 'works'}" %>
      </div>
      <div>
        <%= link_to t('navbar.contact').upcase, contact_path, class: "navbar-item #{'active' if params[:controller] == 'pages'}" %>
      </div>
      <div class="navbar-item">
        <% if I18n.locale == :fr %>
          <%= link_to "🇬🇧", { :locale=>'en' } %>
        <% else %>
          <%= link_to "🇫🇷", { :locale=>'fr' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- -----------------Mobile version----------------- -->
<div class="background-mobile">
</div>
<div class="mobile-menu-rv">
  <div class="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="mobile-categories">
    <div class="mobile-item">
      <%= link_to t("navbar.kinetic").upcase, works_path(locale: I18n.locale, collection: "Kinetic") %>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.sculptur').upcase, works_path(locale: I18n.locale, collection: "Sculptur") %>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.drawing').upcase, works_path( locale: I18n.locale, collection: "Drawing") %>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.photo').upcase, works_path( locale: I18n.locale, collection: "Photo") %>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.animation').upcase, works_path( locale: I18n.locale, collection: "Animation") %>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.video').upcase, works_path( locale: I18n.locale, collection: "Video") %>
    </div>
  </div>
  <div class="mobile-about">
    <div class="mobile-item">
      <%= link_to t('navbar.work'), 'works?collection=Kinetic'%>
    </div>
    <div class="mobile-item">
      <%= link_to t('navbar.contact'), contact_path %>
    </div>
    <div class="mobile-item">
      <% if I18n.locale == :fr %>
        <%= link_to "🇬🇧", { :locale=>'en' } %>
      <% else %>
        <%= link_to "🇫🇷", { :locale=>'fr' } %>
      <% end %>
    </div>
  </div>
</div>
