<div class="">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="personnal-tab" data-toggle="tab" href="#personnal-box" role="tab" aria-controls="personnal-tab" aria-selected="true">
        <%= t("contact.solo-exhibitions") %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="collective-tab" data-toggle="tab" href="#collective-box" role="tab" aria-controls="collective-tab" aria-selected="false"><%= t("contact.group-exhibitions") %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="permanent-tab" data-toggle="tab" href="#permanent-box" role="tab" aria-controls="personnal-tab" aria-selected="false"><%= t("contact.collections") %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bibliography-tab" data-toggle="tab" href="#bibliographies-box" role="tab" aria-controls="bibliography-tab" aria-selected="false"><%= t("contact.press") %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="awards-tab" data-toggle="tab" href="#awards-box" role="tab" aria-controls="awards-tab" aria-selected="false"><%= t("contact.rewards") %></a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- ------------ Personnal Collection ------------ -->
    <div class="tab-pane show active box" id="personnal-box" role="tabpanel" aria-labelledby="personnal-tab">
      <% @personal_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span><%= exhibition.title %> - </span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Collective Collection ------------ -->
    <div class="tab-pane box" id="collective-box" role="tabpanel" aria-labelledby="collective-tab">
      <% @collective_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span><%= exhibition.title %> - </span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span><%= exhibition.associates %></span>
          <span><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Permanent Collection ------------ -->
    <div class="tab-pane box" id="permanent-box" role="tabpanel" aria-labelledby="permanent-tab">
      <% @permanent_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span><%= exhibition.title %> - </span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Bibliography ------------ -->
    <div class="tab-pane box" id="bibliographies-box" role="tabpanel" aria-labelledby="bibliography-tab">
      <% @bibliographies.each do |bibliography| %>
        <p>
          <span class="exhibition-year"><%= bibliography.year %></span>
          <% unless bibliography.title.nil? %>
            <span><%= bibliography.title %> - </span>
          <% end %>
          <span class="exhibition-author"><%= bibliography.author %></span>
        </p>
      <% end %>
    </div>
    <div class="tab-pane box" id="awards-box" role="tabpanel" aria-labelledby="awards-tab">
      <p><span class="exhibition-year">1977</span> Museum of Modern Art, San Francisco : World Print Competition</p>
      <p><span class="exhibition-year">1970</span> Universal exhibit of Osaka, Japan</p>
      <p><span class="exhibition-year">1967</span> Contemporary Art Museum, Montréal</p>
    </div>
  </div>
</div>
