<div class="contact-wrapper">
  <!-- ------------ Permanent Collection ------------ -->
  <div class="exhibitions-box" id="permanent-box">
    <h4>COLLECTIONS PUBLIQUES ET PRIVEES</h4>
    <div class="exhibitions-showed" id="showed-permanent-exhibitions">
      <% @permanent_exhibitions[0..4].each do |exhibition| %>
        <div class="exhibition">
          <p>
            <span class="exhibition-year"><%= exhibition.year %></span>
            <% unless exhibition.title.nil? %>
              <span class="exhibition-title"><%= exhibition.title %></span>
            <% end %>
            <span class="exhibition-place"><%= exhibition.place %></span>
            <span class="exhibition-city"><%= exhibition.city %></span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="exhibitions-hidden collapse" id="hidden-permanent-exhibitions">
      <% @permanent_exhibitions[5..-1].each do |exhibition| %>
        <div class="exhibition">
          <p>
            <span class="exhibition-year"><%= exhibition.year %></span>
            <% unless exhibition.title.nil? %>
              <span class="exhibition-title"><%= exhibition.title %></span>
            <% end %>
            <span class="exhibition-place"><%= exhibition.place %></span>
            <span class="exhibition-city"><%= exhibition.city %></span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="show-more" id="button-show-permanent" data-toggle="collapse" data-target="#hidden-permanent-exhibitions" aria-expanded="false" aria-controls="hidden-permanent-exhibitions">
      <p>See more exhibitions</p>
      <i class="fas fa-angle-down"></i>
    </div>
  </div>
  <!-- ------------ Bibliography ------------ -->
  <div class="exhibitions-box" id="bibliographies-box">
    <h4>Bibliographie</h4>
    <div class="exhibitions-showed" id="showed-bibliographies-exhibitions">
      <% @bibliographies[0..4].each do |bibliography| %>
        <div class="exhibition">
          <p>
            <span class="exhibition-year"><%= bibliography.year %></span>
            <% unless bibliography.title.nil? %>
              <span class="exhibition-title"><%= bibliography.title %></span>
            <% end %>
            <span class="exhibition-author"><%= bibliography.author %></span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="exhibitions-hidden collapse" id="hidden-bibliographies-exhibitions">
      <% @bibliographies[5..-1].each do |bibliography| %>
        <div class="exhibition">
          <p>
            <span class="exhibition-year"><%= bibliography.year %></span>
            <% unless bibliography.title.nil? %>
              <span class="exhibition-title"><%= bibliography.title %></span>
            <% end %>
            <span class="exhibition-author"><%= bibliography.author %></span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="show-more" id="button-show-bibliographies" data-toggle="collapse" data-target="#hidden-bibliographies-exhibitions" aria-expanded="false" aria-controls="hidden-bibliographies-exhibitions">
      <p>See more bibliographies</p>
      <i class="fas fa-angle-down"></i>
    </div>
  </div>
