<div class="">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#personnal-box" role="tab" aria-controls="home" aria-selected="true">
        <%= t("contact.solo-exhibitions").upcase %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#collective-box" role="tab" aria-controls="profile" aria-selected="false"><%= t("contact.group-exhibitions").upcase %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#permanent-box" role="tab" aria-controls="contact" aria-selected="false"><%= t("contact.collections").upcase %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#bibliographies-box" role="tab" aria-controls="contact" aria-selected="false"><%= t("contact.bibliography").upcase %></a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- ------------ Personnal Collection ------------ -->
    <div class="tab-pane fade show active exhibitions-box"  role="tabpanel" aria-labelledby="home-tab" id="personnal-box">
      <% @personal_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span class="exhibition-title"><%= exhibition.title %></span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span class="exhibition-city"><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Collective Collection ------------ -->
    <div class="tab-pane fade exhibitions-box" id="collective-box" role="tabpanel" aria-labelledby="profile-tab" role="tabpanel" aria-labelledby="profile-tab">
      <% @collective_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span class="exhibition-title"><%= exhibition.title %></span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span class="exhibition-associates"><%= exhibition.associates %></span>
          <span class="exhibition-city"><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Permanent Collection ------------ -->
    <div class="tab-pane fade exhibitions-box" id="permanent-box" role="tabpanel" aria-labelledby="contact-tab">
      <% @permanent_exhibitions.each do |exhibition| %>
        <p>
          <span class="exhibition-year"><%= exhibition.year %></span>
          <% unless exhibition.title.nil? %>
            <span class="exhibition-title"><%= exhibition.title %></span>
          <% end %>
          <span class="exhibition-place"><%= exhibition.place %></span>
          <span class="exhibition-city"><%= exhibition.city %></span>
        </p>
      <% end %>
    </div>
    <!-- ------------ Bibliography ------------ -->
    <div class="tab-pane fade exhibitions-box" id="bibliographies-box" role="tabpanel" aria-labelledby="contact-tab">
      <% @bibliographies.each do |bibliography| %>
        <p>
          <span class="exhibition-year"><%= bibliography.year %></span>
          <% unless bibliography.title.nil? %>
            <span class="exhibition-title"><%= bibliography.title %></span>
          <% end %>
          <span class="exhibition-author"><%= bibliography.author %></span>
        </p>
      <% end %>
    </div>
  </div>
</div>
