<div class="container-less-navbar">
  <div class="d-flex justify-content-around align-items-baseline mt-5 mb-5">
    <div class="contact-bio">
      <h6 class="title"><%= t('contact.bio') %></h6>
      <p><%= t('contact.biography_p1') %></p>
      <p><%= t('contact.biography_p2') %></p>
      <p><%= t('contact.biography_p3') %></p>
    </div>
    <div class="contact-infos">
      <h6 class="title"><%= t('contact.contact') %></h6>
        <p><strong><i class="far fa-envelope"></i> rvilder@gmail.com </strong></p>
        <p>2 Rue de Provence <br>
        30000 NIMES</p>
        <p>+33(0)466210434 <br>
        +33(0)698773660</p>
        <p class="stupid-ghost">rvilder@gmail.commm</p>
    </div>
  </div>

  <%= render "about_expo_wrapper" %>
</div>

