<div class="container-less-navbar">
  <div>
    <h6 class="title"><%= t('contact.bio').upcase %></h6>
    <p><%= t('contact.biography_p1') %></p>
    <p><%= t('contact.biography_p2') %></p>
    <p><%= t('contact.biography_p3') %></p>
  </div>
  <div class="d-flex justify-content-around align-items-baseline m-5">
    <div class="contact-infos">
      <h6><%= t('contact.contact').upcase %></h6>
      <ul>
        <li>
          <p class="mb-2"><strong><i class="far fa-envelope"></i> rvilder@gmail.com</strong></p>
        </li>
        <li>
          <p>2 Rue de Provence</p>
        </li>
        <li>
          <p class="mb-2">30000 NIMES</p>
        </li>
        <li>
          <p>+33(0)466210434</p>
          <p>+33(0)698773660</p>
        </li>
      </ul>
    </div>

  </div>

  <%= render "about_expo_wrapper" %>
</div>

