<div class="container-contact-page">
  <%= render "contact_infos" %>
    <div class="biographie">
      <p>
        Né en 1938, au Liban, il fait ses études de beaux arts à l'Université Concordia, Montréal, Canada. Il travaille entre Paris, Nîmes et Montréal (Canada).
      </p>
      <p>
        Il a enseigné les Arts Plastiques pendant 30 ans dans diverses institutions et universités en Amérique du Nord.
        Membre de l'Académie Royale des Arts du Canada et de l'association Kepes de Budapest, Hongrie.
        Depuis le milieu des années 60, il explore le mouvement par la mécanique motorisée, les recherches numériques, des animations algorithmiques et le néon.
      </p>
      <p>
        Il exprime par le biais d'une géométrie simple, ses observations du monde, des formes auxquelles il donne un mouvement lent, continu de croissance et décroissance.
        Se faisant, formes, espaces et couleurs sont mis en relation les uns avec les autres privilégiant ainsi, l'harmonie de la composition dans un continuum spatio-temporel, d'une sensualité toute organique.
      </p>
    </div>
  <%= render "contact_first_wrapper" %>
  <%= render "contact_second_wrapper" %>
</div>
<div class="container-contact-page">
  <% if locale == :fr %>
    <div class="texts-container">
      <% @texts.each do |text| %>
        <div class="text-container">
          <div class="text-content">
            <%= simple_format(text.content_fr) %>
          </div>
          <div class="text-source d-flex m-3">
            <p><%= text.author %></p>
            <p><%= text.title_fr %></p>
            <p><%= text.year %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <div class="texts-container">
    <% @texts.each do |text| %>
      <div class="text-container">
        <div class="text-content">
          <%= simple_format(text.content_en) %>
        </div>
        <div class="text-source d-flex m-3">
          <p><%= text.author %></p>
          <p><%= text.title_en %></p>
          <p><%= text.year %></p>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

