<div class="container-vertical-navbar">
  <%= render "contact_infos" %>
    <div class="biographie">
      <p><%= t('contact.biography_p1') %></p>
      <p><%= t('contact.biography_p2') %></p>
      <p><%= t('contact.biography_p3') %></p>
    </div>
  <%= render "contact_expo_wrapper" %>

  <h2 class='mt-5'><%= t('contact.texts').upcase %></h2>
  <% if locale == :fr %>
    <div class="">
      <% @texts.each do |text| %>
        <div class="text-container">
         <div class="text-content">
           <%= simple_format(text.content_fr) %>
           <% if text.content_fr.nil? %>
             <%= simple_format(text.content_en) %>
           <% end %>
         </div>
          <div class="text-source d-flex">
            <p>
              <span class="text-author"><%= text.author %></span>
              <span class="text-title">
                <%= text.title_fr %>
                <% if text.title_fr.nil? %>
                  <%= text.title_en %>
                <% end %>
              </span>
              <span class="text-year"><%= text.year %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="texts-container">
      <% @texts.each do |text| %>
        <div class="text-container">
          <div class="text-content">
            <%= simple_format(text.content_en) %>
            <% if text.content_en.nil? %>
              <%= simple_format(text.content_fr) %>
            <% end %>
          </div>
          <div class="text-source d-flex">
            <p>
              <span class="text-author"><%= text.author %>-</span>
              <span class="text-title">
                <%= text.title_en %>
                <% if text.title_en.nil? %>
                  <%= text.title_fr %>
                <% end %>
              </span>
              <span class="text-year"><%= text.year %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <br>
  <br>
  <br>

  <div class="text-right">
    <h6 id="g-thomat-info"><%= t('contact.g-thomat-title') %></h6>
    <p class="small">
      <%= t('contact.g-thomat-text-1') %><br>
      <%= t('contact.g-thomat-text-2') %><br>
      <%= t('contact.g-thomat-text-3') %><br>
      <%= t('contact.g-thomat-text-4') %><br>
      <%= t('contact.g-thomat-text-5') %><br>
      <%= t('contact.g-thomat-text-6') %><br>
      <em>D.Rousselet</em>

      <p class="small">
        Contact:<br>
        <a class="link" href="http://gillesthomat.com/">gillesthomat.com</a><br>
        0664168149
      </p>
    </p>

  </div>
</div>

