<div class="container-contact-page">
  <%= render "contact_infos" %>
    <div class="biographie">
      <p><%= t('contact.biography_p1') %></p>
      <p><%= t('contact.biography_p2') %></p>
      <p><%= t('contact.biography_p3') %></p>
    </div>
  <%= render "contact_expo_wrapper" %>

  <h2 class='mt-5'><%= t('contact.texts').upcase %></h2>
  <% if locale == :fr %>
    <div class="">
      <% @texts.each do |text| %>
        <div class="text-container">
         <div class="text-content">
           <%= simple_format(text.content_fr) %>
           <% if text.content_fr.nil? %>
             <%= simple_format(text.content_en) %>
           <% end %>
         </div>
          <div class="text-source d-flex">
            <p>
              <span class="text-author"><%= text.author %></span>
              <span class="text-title">
                <%= text.title_fr %>
                <% if text.title_fr.nil? %>
                  <%= text.title_en %>
                <% end %>
              </span>
              <span class="text-year"><%= text.year %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="texts-container">
      <% @texts.each do |text| %>
        <div class="text-container">
          <div class="text-content">
            <%= simple_format(text.content_en) %>
            <% if text.content_en.nil? %>
              <%= simple_format(text.content_fr) %>
            <% end %>
          </div>
          <div class="text-source d-flex">
            <p>
              <span class="text-author"><%= text.author %>-</span>
              <span class="text-title">
                <%= text.title_en %>
                <% if text.title_en.nil? %>
                  <%= text.title_fr %>
                <% end %>
              </span>
              <span class="text-year"><%= text.year %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <br>
  <br>
  <br>

  <div class="text-right">
    <h6 id="g-thomat-info">Gilles Thomat, réalisateur</h6>
    <p class="small">
      Gilles Thomat nous invite dans les ateliers d'artistes, il les filme au travail, concentrés, maniant le fusain, le pinceau, les ciseaux, les outils… <br>
      Nous découvrons une chose rare, l’artiste dans son atelier, dans le silence de la création.<br>
      Dans ces films, il n’y a pas de dialogue, pas de commentaire, pas d’échange avec l’artiste.<br>
      Et pourtant, par la relation profonde et intime qu’il a réussi à mettre en place avec chacun d’entre eux, Gilles Thomat a trouvé la bonne place, la place juste, comme un révélateur.<br>
      Par la sensibilité et la précision de son regard, il est allé à l’essentiel, par bouts, par fragments. Il a su capter la lumière, le noir, la couleur, il s’arrête sur une main, une épaule.<br>
      Au son, c’est la même chose, fragments, sensations, souffle...
      Ces films sont comme des révélations, pourtant le mystère reste entier.<br>
      <em>D.Rousselet</em>

      <p class="small">
        Contact:<br>
        <a class="link" href="http://gillesthomat.com/">gillesthomat.com</a><br>
        0664168149
      </p>
    </p>

  </div>
</div>

