<div class="container-contact-page">
 <%= render "contact_infos" %>
  <div class="biographie">
    <p>
      Né en 1938, au Liban, il fait ses études de beaux arts à l'Université Concordia, Montréal, Canada. Il travaille entre Paris, Nîmes et Montréal (Canada).
    </p>
    <p>
      Il a enseigné les Arts Plastiques pendant 30 ans dans diverses institutions et universités en Amérique du Nord.
      Membre de l'Académie Royale des Arts du Canada et de l'association Kepes de Budapest, Hongrie.
      Depuis le milieu des années 60, il explore le mouvement par la mécanique motorisée, les recherches numériques, des animations algorithmiques et le néon.
    </p>
    <p>
      Il exprime par le biais d'une géométrie simple, ses observations du monde, des formes auxquelles il donne un mouvement lent, continu de croissance et décroissance.
      Se faisant, formes, espaces et couleurs sont mis en relation les uns avec les autres privilégiant ainsi, l'harmonie de la composition dans un continuum spatio-temporel, d'une sensualité toute organique.
    </p>
  </div>

  <div class="contact-wrapper">
 <!-- ------------ Personnal Collection ------------ -->
    <div class="exhibitions-box" id="personnal-box">
      <h2>Expositions Personnelles</h2>
      <div class="exhibitions-showed" id="showed-personnal-exhibitions">
        <% @personal_exhibitions[0..4].each do |exhibition| %>
          <div class="exhibition">
            <p>
              <span class="exhibition-year"><%= exhibition.year %></span>
              <% unless exhibition.title.nil? %>
                <span class="exhibition-title"><%= exhibition.title %></span>
              <% end %>
              <span class="exhibition-place"><%= exhibition.place %></span>
              <span class="exhibition-city"><%= exhibition.city %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div class="exhibitions-hidden collapse" id="hidden-personnal-exhibitions">
        <% @personal_exhibitions.each do |exhibition| %>
          <div class="exhibition">
            <p>
              <span class="exhibition-year"><%= exhibition.year %></span>
              <% unless exhibition.title.nil? %>
                <span class="exhibition-title"><%= exhibition.title %></span>
              <% end %>
              <span class="exhibition-place"><%= exhibition.place %></span>
              <span class="exhibition-city"><%= exhibition.city %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div class="show-more" id="button-show-personnal" data-toggle="collapse" data-target="#hidden-personnal-exhibitions" aria-expanded="false" aria-controls="hidden-personnal-exhibitions">
        <p>See more exhibitions</p>
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
    <!-- ------------ Collective Collection ------------ -->
    <div class="exhibitions-box" id="collective-box">
      <h2>Expositions Collectives</h2>
      <div class="exhibitions-showed" id="showed-collective-exhibitions">
        <% @collective_exhibitions[0..4].each do |exhibition| %>
          <div class="exhibition">
            <p>
              <span class="exhibition-year"><%= exhibition.year %></span>
              <% unless exhibition.title.nil? %>
                <span class="exhibition-title"><%= exhibition.title %></span>
              <% end %>
              <span class="exhibition-place"><%= exhibition.place %></span>
              <span class="exhibition-associates"><%= exhibition.associates %></span>
              <span class="exhibition-city"><%= exhibition.city %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div class="exhibitions-hidden collapse" id="hidden-collective-exhibitions">
        <% @collective_exhibitions.each do |exhibition| %>
          <div class="exhibition">
            <p>
              <span class="exhibition-year"><%= exhibition.year %></span>
              <% unless exhibition.title.nil? %>
                <span class="exhibition-title"><%= exhibition.title %></span>
              <% end %>
              <span class="exhibition-place"><%= exhibition.place %></span>
              <span class="exhibition-associates"><%= exhibition.associates %></span>
              <span class="exhibition-city"><%= exhibition.city %></span>
            </p>
          </div>
        <% end %>
      </div>
      <div  class="show-more"id="button-show-collective" data-toggle="collapse" data-target="#hidden-collective-exhibitions" aria-expanded="false" aria-controls="hidden-collective-exhibitions">
        <p>See more exhibitions</p>
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
  </div>

</div>
