<div class="container-less-navbar">
  <h6><%= t('contact.films').upcase %></h6>
  <div class="profile-img flex-grow">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/383557366?autoplay=0&color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <p class="small">
      <a href="https://vimeo.com/383557366">Roger Vilder, film annonce</a>
      de
      <a href="https://vimeo.com/gillesthomatvideo">Gilles Thomat</a>.
    </p>
  </div>

  <div class="text-right">
    <h6 id="g-thomat-info"><%= t('contact.g-thomat-title') %></h6>
    <p class="small">
      <%= t('contact.g-thomat-text-1') %><br>
      <%= t('contact.g-thomat-text-2') %><br>
      <%= t('contact.g-thomat-text-3') %><br>
      <%= t('contact.g-thomat-text-4') %><br>
      <%= t('contact.g-thomat-text-5') %><br>
      <%= t('contact.g-thomat-text-6') %><br>
      <em>D.Rousselet</em>

      <p class="small">
        Contact:<br>
        <a class="link" href="http://gillesthomat.com/">gillesthomat.com</a><br>
        0664168149
      </p>
    </p>

  </div>
</div>
