<div class="container-less-navbar">
  <h6><%= t('contact.texts').upcase %></h6>

  <div class="">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <% @texts.each do |text| %>
        <li class="nav-item">
          <%= link_to texts_path(locale: I18n.locale, id: text.id), class: "nav-link", id:"#{text.id}tab", dataToggle: "tab", href: "#{text.id}", role: "tab", ariaControls:"#{text.id}tab", ariaSelected:"true" do %>
            <%= text.author.upcase %>
            <%= text.year %>
          <% end %>
        </li>
      <% end %>
    </ul>



      <!-- <div class="text-container">
        <div class="text-content">

        </div>
      </div> -->

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active exhibitions-box" id="#{params[:id]}" role="tabpanel" aria-labelledby="#{params[:id]}tab">
        <%#= "toto" %>
        <%= simple_format(@content) %>
      </div>
    </div>
  </div>
</div>
