<div class="container-less-navbar">
  <div class="">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <% @texts.each do |text| %>
        <li class="nav-item">
          <%= link_to text_path(locale: I18n.locale, id: text),
                      class: "nav-link #{'active' if params[:id].to_i == text.id}",
                      id:"#{text.id}tab",
                      dataToggle: "tab",
                      href: "#{text.id}",
                      role: "tab",
                      ariaControls: "#{text.id}tab",
                      ariaSelected: "#{'true' if params[:id].to_i == text.id}" do %>
            <h6> <%= text.author %><br>
            <%= text.year %></h6>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div  class="tab-pane fade show active box text"
            id="<%= @text.id %>"
            role="tabpanel"
            aria-labelledby="<%= @text.id %>tab">
        <p class="title-text"><%= @title %></p>
        <p><%= simple_format(@content) %></p>
      </div>
    </div>
  </div>
</div>
